@font-face {
    font-family: 'minecraft1';
    src: url('/fonts/minecraft1.woff2') format('woff2'),
         url('/fonts/minecraft1.woff') format('woff'),
         url('/fonts/minecraft1.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'minecraft1', sans-serif;
    font-size: 20px;
}


html, body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 100%;
    width: 100%;
    overflow-y: auto;
    max-height: 900px;
}
  
#background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover; 
    z-index: -1; 
}

.transparent-box {
    background-color: white; 
    padding: 40px;
    border: none;
    border-radius: 20px;
    width: 900px; 
    box-shadow: 10px 10px 10px pink;
    opacity: 0.8;
    overflow-y: auto;
    max-height: 500px;
}

#text {
    background-color: white;
    box-shadow: 10px 10px 10px pink;
    width: 860px;
    padding: 10px;
    border: pink;
    border-radius: 20px;
    height: 30px;
    margin: 30px;
    text-indent: 35px;
}

#text:focus {
    outline: none;
}

.move-input-box{
    position: absolute;
    top: 106%;
    left: 46.5%;
    transform: translate(-50%, -50%);
}

.move-chat-container {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.msg-bot{
    padding: 5px;
    border: 2px solid #333;
    margin: 10px;
    display: inline-block;
    border-radius: 20px;
    border-color: pink;
    box-shadow: 5px 5px 5px pink;
    margin-left: -25px;
    margin-right: 200px;
    margin-bottom: 20px;
}

#chat-logo {
    position: absolute;
    top: 27%;
    left: 5%;
    transform: translate(-50%, -50%);
    color: pink;
    font-weight: bold;
    text-shadow: 2px 2px 2px rgb(252, 178, 191);
    font-size: 25px;
}

.msg-user {
    padding: 5px;
    border: 2px solid pink; 
    display: inline-block; 
    border-radius: 20px;
    box-shadow: 5px 5px 5px pink;
    background-color: pink; 
    width: auto;
    margin-left: 600px;
    margin-right: -25px;
    text-align: left;
    margin-bottom: 10px;
}

.msg-bot p{
    font-weight: 4px;
    opacity: 0;
    transform: translateY(20px); 
    animation: fadeIn 0.5s forwards; 
}

.msg-user p {
    font-weight: 4px;
    opacity: 0;
    transform: translateY(20px); 
    animation: fadeIn 0.5s forwards; 
}


@keyframes fadeIn {
    from { opacity: 0; transform: translateY(20px); }
    to { opacity: 1; transform: translateY(0); }
}


a, a:visited, a:hover, a:active {
    color: rgb(101, 78, 82); 
    text-decoration: none; 
}

#hello-kitty {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 9.5px;
    width: 50px;
    height: 50px;
}

#yct {
    font-weight: bold;
    color: rgb(255, 255, 255);
    text-shadow: 3px 3px 3px rgb(0, 0, 0);

}

.move-under-input {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: -170px; 
    left: 50%; 
    transform: translateX(-50%); 
    font-size: 20px;
    gap: 60px;
}

button{
    padding: 10px;
    border: 2px solid #333;
    display: inline-block;
    border-radius: 20px;
    border-color: pink;
    box-shadow: 5px 5px 5px rgb(174, 108, 119);
    background-color: pink;
    color: rgb(0, 0, 0);
}

button:hover {
    background-color: rgb(255, 255, 255);
    border-color: pink;
    box-shadow: 5px 5px 5px pink;
    color: pink;
}

p1 {
    text-align: center;
    padding: 10px;
    display: inline-block;
    border-radius: 20px;
    height: 23px;
    width: auto;
    background-color: transparent;
    font-size: 27px;
}
p3 {
    padding: 5px;
}

#workExperience {
    margin-left: 780px;
    font-family: 'minecraft1', sans-serif;
}

#personalProject {
    margin-left: 770px;
    font-family: 'minecraft1', sans-serif;
}

#funFacts {
    margin-left: 830px;
    font-family: 'minecraft1', sans-serif;
}

#workBtn{
    font-family: 'minecraft1', sans-serif;
    font-size: 19px;
}

#personal-project {
    font-family: 'minecraft1', sans-serif;
    font-size: 19px;
}

#fun-facts {
    font-family: 'minecraft1', sans-serif;
    font-size: 19px;
}

.move-table {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.table-contents {
    width: 970px; 
    height: 80px; 
    background-color: pink; 
    border: 2px solid rgb(255, 255, 255); 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); 
    margin: 20px; 
    border-radius: 20px;
    box-shadow: 5px 5px 5px pink;
}

.move-contents {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
    font-size: 45px;
    gap: 70px;
    margin-top: 14px;
}


.move-contents a:hover {
    color: pink;
    background-color: rgb(255, 255, 255);
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 10px;
    box-shadow: 4px 4px 4px rgba(156, 115, 115, 0.2);
}

.view-pdf {
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    background-color: white; 
    padding: 40px;
    border: none;
    border-radius: 20px;
    width: 900px; 
    box-shadow: 10px 10px 10px pink;
    opacity: 0.8;
    height: 400px;
}

.move-container {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.move-contact-me {
    display: flex;
    align-items: center;
    justify-content: center;
}

#contact-me {
    font-size: 50px;
}

.move-info {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    line-height: 0em;
}

#email {
    font-size: 30px;
}

.move-enter{
    position: absolute; 
    z-index: 9999; 
    left: 81%; 
    top: 106%; 
    transform: translate(-50%, -50%); 
}

#submit{
    font-family: 'minecraft1', sans-serif;
    font-size: 18px;
    border-radius: 20px;
    height: 53px;
    margin: 30px;
    width: 90px;
    background-color: white;
    box-shadow: 10px 10px 10px pink;
    border-color: none;
    color: rgb(101, 78, 82);
}

#submit:hover{
    background-color: pink;
    color: white;
    border-color: none;
}


    
